.layout-editor {
  &.disable {
    cursor: not-allowed;
  }
  .container {
    display: flex;
    flex-direction: row;
    .editor {
      margin-left: 10px;
      padding-top: 10px;
      flex: 1;
      min-height: 50px;
      outline: none;
      color: black;
      word-break: break-all;
      //width: 100px;
      &:empty:before {
        content: attr(placeholder);
        display: block;
        color: rgba(59, 59, 59, 0.58);
      }
      &.focus {
        padding-top: 3px;
        font-size: 25px
      }
    }
  }
  .container-action {
    margin-top: 20px;
  }
}