@import "../../styles/variables";

@prefixCls: app-container;

.@{prefixCls}-layout-content {
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  @media screen and (min-width: @atomuser-screen-without-mobile) {
    width: @atomuser-layout-width-without-mobile;
    margin: 0 auto;
  }

  &.@{prefixCls}-fixed-header-top {
    margin-top: @atomuser-layout-header-height;
  }

  .@{prefixCls}-content {
    min-height: calc(100vh - @atomuser-layout-header-height) !important;
    padding-bottom: 0;
    &.@{prefixCls}-has-tabbar {
      padding-bottom: @atomuser-layout-header-height;
    }
  }
}
