@import "../../../styles/variables";

@prefixCls: notification;

.@{prefixCls} {
  &-container {
    color: @atomuser-text-color;
    a {
      color: @atomuser-text-color;
      font-weight: bold;
    }
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px @atomuser-divider-color;
    &-body {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    &:hover {
      background-color: @atomuser-background-grey-light-color;
    }
  }

  &-unseen {
    background-color: @atomuser-background-grey-dark-color;
  }

  &-avatar {

  }

  &-content {
    &-text {

    }
    &-time {
      color: @atomuser-grey-color;
      padding-top: 10px;
    }
  }
}