@import "./default.less";

@atomuser-primary-color: #0087ea;
@atomuser-layout-header-height: 50px;
@atomuser-layout-width-without-mobile: 500px;
@atomuser-background-tabbar: white;
@atomuser-tabbar-height: 50px;
@atomuser-screen-without-mobile: @screen-sm;
@atomuser-padding-content-horizontal: 15px;
@atomuser-heading-color: white;
@atomuser-zindex-header: 10;
@atomuser-grey-color: rgba(141, 141, 141, 0.78);
@atomuser-divider-color: #e8e8e8;
@atomuser-mark-active-color: #eac600;
@margin-icon-action-post: 10px;

