@import "./default.less";

@atomuser-primary-color: #0087ea;
@atomuser-layout-header-height: 30px;
@atomuser-layout-width-without-mobile: 368px;
@atomuser-background-tabbar: white;
@atomuser-tabbar-height: 50px;
@atomuser-screen-without-mobile: @screen-sm;
@atomuser-padding-content-horizontal: 15px;
@atomuser-heading-color: white;
