.atomuser-logo-text {
  color: #0087ea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: end;

  .atomuser-text-atom {
    font-weight: bold;
  }

  .atomuser-text-user {

  }

  &.contrast {
    color: white;
  }
}