@import "../../../styles/variables";

@prefixCls: header-content;

.@{prefixCls}-header {
  background-color: @atomuser-primary-color;
  z-index: @atomuser-zindex-1;

  &.@{prefixCls}-fixed-top {
    position: fixed;
    top: @atomuser-layout-header-height;
    left: 0;
    width: 100%;
  }

  .@{prefixCls}-content {
    padding: 0 @atomuser-padding-content-horizontal;
  }
  @media screen and (min-width: @atomuser-screen-without-mobile) {
    .@{prefixCls}-content {
      width: @atomuser-layout-width-without-mobile;
      margin: 0 auto;
    }
  }
}