@import "../../styles/variables";

@prefixCls: global-header;
.@{prefixCls}-header {
  height: @atomuser-layout-header-height;
  @media screen and (min-width: @atomuser-screen-without-mobile) {
    width: @atomuser-layout-width-without-mobile;
    margin: 0 auto;
  }
  @media screen and (min-width: @atomuser-screen-layout-width-full) {
    width: @atomuser-layout-width-full;
    margin: 0 auto;
  }

  padding: 0 @atomuser-padding-content-horizontal;
  background: @atomuser-primary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  i {
    cursor: pointer;
    color: white;
  }

  &.@{prefixCls}-fixed-header-top {
    margin-top: @atomuser-layout-header-height;
  }

  > .@{prefixCls}-logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  > .@{prefixCls}-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .@{prefixCls}-right-join {
      margin-right: 10px;
    }
  }

  &-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      i {
        font-size: 25px;
        color: white;
      }
    }

    &-text {
      margin-left: 10px;
      color: white;
    }

  }
}

.@{prefixCls}-layout-header {
  height: @atomuser-layout-header-height;
  line-height: @atomuser-layout-header-height;
  background-color: @atomuser-primary-color;
  padding: 0;
  position: relative;
  &.@{prefixCls}-header-fixed-top {
    position: fixed;
    z-index: @atomuser-zindex-1;
    width: 100%;
  }
}
