@import "../../styles/variables";

@prefixCls: action-vote;

.@{prefixCls}-voted {
  color: @atomuser-primary-color !important;
}

.@{prefixCls}-action-vote {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  .@{prefixCls}-text-vote {
    font-weight: 500;
    margin-right: @margin-icon-action-post;
  }
  i {
    margin-right: @margin-icon-action-post;
    padding-top: 5px;
  }
}

.@{prefixCls}-disabled {
  cursor: not-allowed !important;
  i {
    cursor: not-allowed !important;
  }
}