@import "../../styles/variables";

@prefixCls: post;

.@{prefixCls}-layout-post {
  background: white;
  margin: @atomuser-margin-posts 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px @atomuser-divider-color;
  border-radius: @atomuser-card-border-radius;
}

.@{prefixCls}-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 @atomuser-padding-content-horizontal;
  .@{prefixCls}-creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    .@{prefixCls}-creator-content {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      flex: 1;
      .@{prefixCls}-name {
        font-weight: bold;
        flex: 1;
        color: @atomuser-text-color;
      }
      .@{prefixCls}-text-time {
        color: @atomuser-grey-color;
        &:hover {
          text-decoration: underline;
        }
        cursor: pointer;

      }
    }
  }
  .@{prefixCls}-action {
    cursor: pointer;
    .@{prefixCls}-action-icon {
      font-size: 25px;
      color: @atomuser-grey-color;
    }
  }
}

.@{prefixCls}-content {
  margin-top: 5px;
  margin-bottom: 15px;
  > .@{prefixCls}-content-body {
    padding: 0 @atomuser-padding-content-horizontal;
  }
}

.@{prefixCls}-layout-action {
  padding: 0 @atomuser-padding-content-horizontal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  i {
    cursor: pointer;
    font-size: 18px;
    color: @atomuser-grey-color;
  }

  .@{prefixCls}-active-mark {
    color: @atomuser-mark-active-color
  }

  .@{prefixCls}-action-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    .@{prefixCls}-action-comment {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      .@{prefixCls}-text-comment {
        font-weight: 500;
        margin-right: @margin-icon-action-post;
      }
    }
  }
}

.@{prefixCls}-disabled {
  cursor: not-allowed !important;
  * {
    cursor: not-allowed !important;
  }
}

.@{prefixCls}-layout-comment {
  padding: 5px @atomuser-padding-content-horizontal;
}

.@{prefixCls}-layout-image {
  margin-top: 10px;
  .@{prefixCls}-image {
    cursor: pointer;
    display: flex;
    flex: 1;
    width: 100%;
    height: 300px;
    background: @atomuser-background-color-image center center / cover;
  }
}

.@{prefixCls}-divider {
  background-color: @atomuser-divider-color;
  margin-right: @margin-icon-action-post;
  &.@{prefixCls}-vertical {
    width: 1px;
    height: 18px;
  }
}

.@{prefixCls}-footer {
  margin-top: 15px;
  color: @atomuser-grey-color;
  .@{prefixCls}-text-comment {
    cursor: pointer;
    margin-top: 10px;
    &:hover {
      color: black;
    }
  }

}

