@import "../../styles/variables";

.layout-editor {
  &.disable {
    cursor: not-allowed;
  }
  .container {
    display: flex;
    flex-direction: row;
    .editor {
      margin-left: 10px;
      padding-top: 5px;
      flex: 1;
      outline: none;
      color: black;
      word-break: break-all;
      //width: 100px;
      &:empty:before {
        cursor: text;
        content: attr(placeholder);
        display: block;
        color: rgba(59, 59, 59, 0.58);
      }
      &.focus {
      }
    }
  }
}