@import "../../styles/variables";

@prefixCls: editor-comment;

.@{prefixCls}-layout-editor {
  .@{prefixCls}-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    .@{prefixCls}-editor {
      margin-left: 10px;
      padding: 6px 15px;
      flex: 1;
      outline: none;
      color: black;
      word-break: break-all;
      border-radius: 20px;
      border: solid @atomuser-divider-color 1px;
      &:empty:before {
        cursor: text;
        content: attr(placeholder);
        display: block;
        color: rgba(59, 59, 59, 0.58);
      }
      &.@{prefixCls}-focus {
      }
      &.@{prefixCls}-border {
        border: solid @atomuser-grey-color 1px;
      }
      &.@{prefixCls}-uploading-comment {
        color: @atomuser-grey-color;
      }
      &.@{prefixCls}-disable {
        cursor: not-allowed;
      }
    }
    > .@{prefixCls}-uploading {
      position: absolute;
      cursor: not-allowed;
      bottom: 4px;
      right: 10px;
    }
    .@{prefixCls}-signin-to-comment {
      margin-left: 10px;
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
      color: @atomuser-primary-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}